@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url('../images/hero_desktop.jpeg'); 
    background-size: cover; // Aumenta a imagem para cobrir toda a área
    text-align: center;

    &__content { 
        max-width: 800px; // Aumentei a largura do conteúdo principal

        &_branding { 
            max-width: 400px; // Aumentei o tamanho do logo Disney+
            margin: 0 auto;
        }

        .title--small { 
            margin-bottom: 64px;
        } 
        
        p {
            margin-bottom: 20px;

                &:last-child { 
                    margin-top: 60px;
                }
        }

        &__combos { 
            display: flex;
            justify-content: center; // Centraliza os combos
            gap: 20px; // Espaço entre os combos

            &__combo { 
                width: 50%; // Cada combo ocupa metade da largura disponível
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img { 
                max-width: 250px; // Aumenta o tamanho dos logos do Disney+ e Star+
                height: auto; 
            }

            button { 
                display: block;
                width: 100px;
                font-size: 18px;
                color: variaveis.$corTextoSecundario;
                background-color: #6421ff;
                text-transform: uppercase;
                border-radius: 4px;
                margin-top: 2vw;
                margin-bottom: 8px;
            }
        }
    }    
}

/* Ajuste para os logos */
.hero__content-branding img {
    max-width: 300px; // Aumenta o logo Disney+
    height: auto;
}

.hero_content_combos_combo img {
    max-width: 220px; // Aumenta os logos Disney+ e Star+
    height: auto;
}
